*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
/app/build/

# macOS AppleDouble-Reste auf exFAT/NTFS
._*
.DS_Store

# lokal gebaute APKs
/dist/
